.joinWrap {
  width: 700px;
  margin: 50px auto;
}
.page-title {
  font-size: 1.3em;
  padding: 30px;
  text-align: center;
}
.joinWrap .input-wrap:first-of-type {
  border-top: 2px solid #f44336;
}
.joinWrap .input-wrap:nth-of-type(5) {
  border-bottom: 2px solid #000;
}

.joinWrap .input-wrap {
  box-sizing: border-box;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.joinWrap .input-wrap > div:first-child {
  width: 25%;
}
.joinWrap .input-wrap > div:last-child {
  width: 75%;
}
.joinWrap .input-wrap label {
  display: block;
  font-weight: bold;
  font-size: 1.1em;
}
.btn.emailBtn {
  background-color: #f44336;
  color: #fff;
  float: right;
  width: 25%;
}
.joinWrap .input-wrap p {
  padding-top: 5px;
  padding-left: 5px;
  height: 14px;
  line-height: 14px;
  font-size: 14px;
  clear: both;
}
.joinWrap .input-wrap .valid ~ p {
  color: #198754;
}
.joinWrap .input-wrap .invalid ~ p {
  color: #dc3545;
}
#memberEmail {
  width: 70%;
  float: left;
}
.policy-wrap {
  padding: 15px;
}
.policy {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #eee;
}
.check-zone {
  display: flex;
  align-items: center;
}
.check-zone > span {
  font-size: 20px;
}
.check-zone > label {
  margin-left: 10px;
  font-size: 20px;
}
.check-zone > input:checked + span + label[for] {
  color: #1e1e1e;
}
.policy > a {
  display: flex;
  align-items: center;
}
.policy > a > span:first-child:hover {
  text-decoration: underline;
}
.policy > a > * {
  font-size: 16px;
  color: #f44336;
  font-weight: bold;
}
.check-zone span.req {
  color: #f44336;
}
.email-modal-wrap {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
}

.email-modal-content {
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
}
.email-modal-top {
  position: relative;
}
.email-modal-top > h3 {
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}
.email-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
  color: #f44336;
  font-weight: bold;
}
.email-modal-auth {
  width: 80%;
  margin: 0 auto;
  height: 100px;
}
.email-modal-auth > div {
  height: 100%;
}
.auth-box {
  display: none;
  justify-content: space-between;
  align-items: center;
}
.email-code-input {
  width: 65%;
  position: relative;
}
.email-code-input > .input-form {
  padding: 0.5rem;
  padding-right: 50px;
}
.email-code-btn {
  width: 30%;
}
.email-code-btn > .btn {
  background-color: #f44336;
  color: #fff;
  padding: 0.5rem;
}
.email-auth-time {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 10px;
  top: 10px;
}
.email-auth-time > span:last-child {
  width: 20px;
}

.email-auth-time > span:nth-child(2) {
  margin: 0 3px;
}
.email-auth-time > span {
  display: block;
  color: #f44336;
}
.email-dup {
  display: none;
  justify-content: center;
  align-items: center;
}
.show-flex {
  display: flex;
}
