.mypage {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.mypage-title {
  padding: 30px 30px;
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: 3px solid #f44336;
}

.mypage-side {
  width: 250px;
  height: 500px;
  float: left;
}
.mypage-side > div {
  cursor: pointer;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.mypage-side > div > span {
  color: #f44336;
  font-weight: bold;
}
.mypage-side > div.active-tab {
  background-color: #f44336;
}
.mypage-side > div.active-tab > span {
  color: #fff;
}
.mypage-side > div > span:last-child {
  position: absolute;
  right: 20px;
}

.mypage-content {
  width: 950px;
  float: left;
}
