div {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
.outer {
  width: 1000px;
  height: 1800px;
  margin: auto;
}

.outer > div {
  width: 100%;
}

#header {
  height: 8%;
}
#navigator {
  height: 3%;
  /* background-color : #f44336; */
}
#content {
  height: 77%;
  color: #4e4e4e;
}
#footer {
  height: 12%;
}
.container {
  min-width: 1440px;
}
