.pageNo {
    display : inline-block;
    width : 25px;
    margin : 5px;
    padding : 5px;
    background-color : #fff;
    color : #f44336;
    text-align : center;
    font-size : 18px;
    font-weight : bold;
    cursor: pointer;
}

.currentPage {
    background-color : #f44336;
    color : #fff;
}